*{
  margin: 0;
  padding: 0;
}

#board{
    border-collapse: collapse;
    border: 1px solid black;
}

#board td{
    width : 100px;
    height : 100px;
    border: 1px solid black;
}

.player1, .player2{
    background-position: center;
    background-size: 80% 80%;
    background-repeat: no-repeat;
}

.player1{
    background-image: url("../img/player1.png");
}
.player2{
    background-image: url("../img/player2.png");
}

.player1win{
    background-color : red;
}

.player2win{
    background-color: blue;
}
